<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>To-Do List with Vue.js</title>
    <script type="text/javascript" src="bower_components/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="todo">
      <h1>To-Do List with Vue.js</h1>
      <div v-repeat="t : todos | orderBy 'isDone'">
          <input type="checkbox" v-model="t.isDone" />
          {{$index}}:{{t.title}}
      </div>
      <input v-model="todo" />
      <input type="button" v-on="click: addTodo" value="add todo" />
      <div>
          left {{lefts}} tasks.
      </div>
  </div>
  <script type="text/javascript" src="js/todo.js"></script>
</body>
</html>
